/* BASE GLOBAL STYLES */
.w-webflow-badge {
  display: none !important;
}

html.wf-design-mode .wf-slot {
  display: block;
}

.w-nav:before,
.w-nav:after,
.w-container:before,
.w-container:after {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .nav-expand-large.w-nav[data-collapse="all"] .w-nav-menu {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  .nav-expand-xlarge.w-nav[data-collapse="all"] .w-nav-menu {
    display: block;
  }
}

@media only screen and (min-width: 1920px) {
  .nav-expand-xxlarge.w-nav[data-collapse="all"] .w-nav-menu {
    display: block;
  }
}

.w-nav-brand,
.w-nav-link {
  margin: 0rem;
  padding: 0rem;
}

.w-nav-button.w--open {
  background-color: transparent;
}

.w-dropdown {
  z-index: auto;
}

.w-dropdown-toggle {
  white-space: normal;
}

.w-dropdown-list[style*="block"]:not(.w--open):not([style*="will-change"]) {
  display: none !important;
}

.w-dropdown-list.w--open {
  display: block !important;
}

.w-lightbox-backdrop {
  z-index: var(--_index---index-lightbox-backdrop, 99999999);
}

address {
  font-style: normal;
}

table {
  table-layout: fixed;
}

th, td {
  height: 0rem;
  text-align: initial;
}

nav:not(.w-dropdown-list) a,
footer a,
.text-style-none a,
nav:not(.w-dropdown-list) .link,
footer .link,
.text-style-none .link {
  text-decoration: none;
}

a.w-inline-block {
  display: inline-flex;
  vertical-align: middle;
}

a svg:not(.retain-color) path[fill],
button svg:not(.retain-color) path[fill] {
  fill: currentColor;
}

a svg:not(.retain-color) path[stroke],
button svg:not(.retain-color) path[stroke] {
  stroke: currentColor;
}

picture,
svg,
video {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 100%;
}

svg {
  object-fit: contain;
}

video {
  object-fit: cover;
}

[style*="background-image"][style*="url"] {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-style-1line * {
  margin-bottom: 0rem !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-style-1line *:not(*:first-child) {
  display: none;
}

.show {
  display: block !important;
}

.show-large-screen,
.show-xlarge-screen,
.show-xxlarge-screen,
.show-tablet,
.show-mobile-landscape,
.show-mobile-portrait {
  display: none !important;
}

@media only screen and (min-width: 1280px) {
  .show-large-screen {
    display: block !important;
  }
}

@media only screen and (min-width: 1440px) {
  .show-xlarge-screen {
    display: block !important;
  }
}

@media only screen and (min-width: 1920px) {
  .show-xxlarge-screen {
    display: block !important;
  }
}

@media only screen and (max-width: 991px) {
  .show-tablet {
    display: block !important;
  }
}

@media only screen and (max-width: 767px) {
  .show-mobile-landscape {
    display: block !important;
  }
}

@media only screen and (max-width: 479px) {
  .show-mobile-portrait {
    display: block !important;
  }
}

html:not(.wf-design-mode) [data-interaction_start="self"],
html:not(.wf-design-mode) [data-interaction_start="children"] > *,
html:not(.wf-design-mode) [data-interaction_start="letter"] .gsap_split_letter {
  opacity: 0;
}

html.wf-design-mode .button_icon-wrapper {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}

[class*="icon"] {
  flex: 0 0 auto;
}

[class*="icon"] svg {
  width: 100%;
  height: 100%;
}

.label-required:after {
  content: " *";
  color: var(--text-color--text-error-light, #dc3545);
}

[type="checkbox"]:checked + .form_dropdown-item,
[type="radio"]:checked + .form_dropdown-item {
  color: var(--text-color--text-alternate, #fff);
  background-color: var(--base-color-system--field-state-500, #4d65ff);
}

[type="checkbox"]:checked + .form_checkbox-icon,
[type="radio"]:checked + .form_radio-icon {
  color: var(--text-color--text-alternate, #fff);
  background-color: var(--base-color-system--field-state-400, #3898ec);
  border-color: var(--base-color-system--field-state-400, #3898ec);
}

[type="radio"]:checked + .form_radio-icon {
  outline-color: var(--base-color-system--field-state-400, #3898ec);
}

html.wf-design-mode [data-message="loading"].hide,
html.wf-design-mode [data-field_error].hide {
  display: block !important;
}

[class*="generic-image"][class*="w-variant"] *,
[class*="zoomer"][class*="w-variant"] {
  width: inherit;
  height: inherit;
}

[class*="generic-image"][class*="w-variant"] * {
  width: inherit;
  height: inherit;
}

[class*="font-setter"][class*="w-variant"] * {
  font-family: inherit;
}

[class*="text-weight-setter"][class*="w-variant"] * {
  font-weight: inherit;
}

[class*="text-resizer"][class*="w-variant"] * {
  font-size: inherit;
}

[class*="text-colorizer"][class*="w-variant"] * {
  color: inherit;
}

.component_grid[data-wf--grid--gutter-size="xsmall"] .component_grid-column {
  padding: var(--_base---grid-gutter--gutter-xsmall);
}

.component_grid[data-wf--grid--gutter-size="small"] .component_grid-column {
  padding: var(--_base---grid-gutter--gutter-small);
}

.component_grid[data-wf--grid--gutter-size="medium"] .component_grid-column {
  padding: var(--_base---grid-gutter--gutter-medium);
}

.component_grid[data-wf--grid--gutter-size="large"] .component_grid-column {
  padding: var(--_base---grid-gutter--gutter-large);
}

.component_grid[data-wf--grid--gutter-size="xlarge"] .component_grid-column {
  padding: var(--_base---grid-gutter--gutter-large);
}

@media only screen and (max-width: 991px) {
  .component_grid-column[data-column_width_tablet*="cw"] {
    flex: 0 0 auto;
  }

  .component_grid-column[data-column_width_tablet="cw-1"] {
    width: var(--_base---grid-column-width--column-1);
  }

  .component_grid-column[data-column_width_tablet="cw-2"] {
    width: var(--_base---grid-column-width--column-2);
  }

  .component_grid-column[data-column_width_tablet="cw-3"] {
    width: var(--_base---grid-column-width--column-3);
  }

  .component_grid-column[data-column_width_tablet="cw-4"] {
    width: var(--_base---grid-column-width--column-4);
  }

  .component_grid-column[data-column_width_tablet="cw-5"] {
    width: var(--_base---grid-column-width--column-5);
  }

  .component_grid-column[data-column_width_tablet="cw-6"] {
    width: var(--_base---grid-column-width--column-6);
  }

  .component_grid-column[data-column_width_tablet="cw-7"] {
    width: var(--_base---grid-column-width--column-7);
  }

  .component_grid-column[data-column_width_tablet="cw-8"] {
    width: var(--_base---grid-column-width--column-8);
  }

  .component_grid-column[data-column_width_tablet="cw-9"] {
    width: var(--_base---grid-column-width--column-9);
  }

  .component_grid-column[data-column_width_tablet="cw-10"] {
    width: var(--_base---grid-column-width--column-10);
  }

  .component_grid-column[data-column_width_tablet="cw-11"] {
    width: var(--_base---grid-column-width--column-11);
  }

  .component_grid-column[data-column_width_tablet="cw-12"] {
    width: var(--_base---grid-column-width--column-12);
  }
}

@media only screen and (max-width: 767px) {
  .component_grid-column[data-column_width_mobile*="cw"] {
    flex: 0 0 auto;
  }

  .component_grid-column[data-column_width_mobile="cw-1"] {
    width: var(--_base---grid-column-width--column-1);
  }

  .component_grid-column[data-column_width_mobile="cw-2"] {
    width: var(--_base---grid-column-width--column-2);
  }

  .component_grid-column[data-column_width_mobile="cw-3"] {
    width: var(--_base---grid-column-width--column-3);
  }

  .component_grid-column[data-column_width_mobile="cw-4"] {
    width: var(--_base---grid-column-width--column-4);
  }

  .component_grid-column[data-column_width_mobile="cw-5"] {
    width: var(--_base---grid-column-width--column-5);
  }

  .component_grid-column[data-column_width_mobile="cw-6"] {
    width: var(--_base---grid-column-width--column-6);
  }

  .component_grid-column[data-column_width_mobile="cw-7"] {
    width: var(--_base---grid-column-width--column-7);
  }

  .component_grid-column[data-column_width_mobile="cw-8"] {
    width: var(--_base---grid-column-width--column-8);
  }

  .component_grid-column[data-column_width_mobile="cw-9"] {
    width: var(--_base---grid-column-width--column-9);
  }

  .component_grid-column[data-column_width_mobile="cw-10"] {
    width: var(--_base---grid-column-width--column-10);
  }

  .component_grid-column[data-column_width_mobile="cw-11"] {
    width: var(--_base---grid-column-width--column-11);
  }

  .component_grid-column[data-column_width_mobile="cw-12"] {
    width: var(--_base---grid-column-width--column-12);
  }
}

.component_grid-column[data-column_order="co-1"] {
  order: 1;
}

.component_grid-column[data-column_order="co-2"] {
  order: 2;
}

.component_grid-column[data-column_order="co-3"] {
  order: 3;
}

.component_grid-column[data-column_order="co-4"] {
  order: 4;
}

.component_grid-column[data-column_order="co-5"] {
  order: 5;
}

.component_grid-column[data-column_order="co-6"] {
  order: 6;
}

.component_grid-column[data-column_order="co-7"] {
  order: 7;
}

.component_grid-column[data-column_order="co-8"] {
  order: 8;
}

.component_grid-column[data-column_order="co-9"] {
  order: 9;
}

.component_grid-column[data-column_order="co-10"] {
  order: 10;
}

.component_grid-column[data-column_order="co-11"] {
  order: 11;
}

.component_grid-column[data-column_order="co-12"] {
  order: 12;
}

@media only screen and (max-width: 991px) {
  .component_grid-column[data-column_order_tablet="co-1"] {
    order: 1;
  }

  .component_grid-column[data-column_order_tablet="co-2"] {
    order: 2;
  }

  .component_grid-column[data-column_order_tablet="co-3"] {
    order: 3;
  }

  .component_grid-column[data-column_order_tablet="co-4"] {
    order: 4;
  }

  .component_grid-column[data-column_order_tablet="co-5"] {
    order: 5;
  }

  .component_grid-column[data-column_order_tablet="co-6"] {
    order: 6;
  }

  .component_grid-column[data-column_order_tablet="co-7"] {
    order: 7;
  }

  .component_grid-column[data-column_order_tablet="co-8"] {
    order: 8;
  }

  .component_grid-column[data-column_order_tablet="co-9"] {
    order: 9;
  }

  .component_grid-column[data-column_order_tablet="co-10"] {
    order: 10;
  }

  .component_grid-column[data-column_order_tablet="co-11"] {
    order: 11;
  }

  .component_grid-column[data-column_order_tablet="co-12"] {
    order: 12;
  }
}

@media only screen and (max-width: 767px) {
  .component_grid-column[data-column_order_mobile="co-1"] {
    order: 1;
  }

  .component_grid-column[data-column_order_mobile="co-2"] {
    order: 2;
  }

  .component_grid-column[data-column_order_mobile="co-3"] {
    order: 3;
  }

  .component_grid-column[data-column_order_mobile="co-4"] {
    order: 4;
  }

  .component_grid-column[data-column_order_mobile="co-5"] {
    order: 5;
  }

  .component_grid-column[data-column_order_mobile="co-6"] {
    order: 6;
  }

  .component_grid-column[data-column_order_mobile="co-7"] {
    order: 7;
  }

  .component_grid-column[data-column_order_mobile="co-8"] {
    order: 8;
  }

  .component_grid-column[data-column_order_mobile="co-9"] {
    order: 9;
  }

  .component_grid-column[data-column_order_mobile="co-10"] {
    order: 10;
  }

  .component_grid-column[data-column_order_mobile="co-11"] {
    order: 11;
  }

  .component_grid-column[data-column_order_mobile="co-12"] {
    order: 12;
  }
}
/* BASE GLOBAL STYLES */
