.w-webflow-badge {
  display: none !important;
}

address {
  font-style: normal;
}

video {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 100%;
}

table {
  table-layout: fixed;
}

th, td {
  height: 1px;
  text-align: initial;
}

[class*="icon"] svg {
  width: 100%;
  height: auto;
}

[class*="icon"] path[fill^="#"] {
  fill: currentColor;
}

[class*="icon"] path[stroke^="#"] {
  stroke: currentColor;
}

[style*="background-image: url"],
[style*="background-image:url"] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-style-1line p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-style-1line *:not(div):not(p) {
  display: none;
}

.background-overlay ~ * {
  position: relative;
}

.video-fluid {
  background-size: cover;
  background-position: 50% 50%;
}

.grid_wrapper[data-grid_gutter="xsmall"] {
  margin: calc(var(--_grid---gutter-xsmall) * -1);
}

.grid_wrapper[data-grid_gutter="xsmall"] .component_grid-column {
  padding: var(--_grid---gutter-xsmall);
}

.grid_wrapper[data-grid_gutter="small"] {
  margin: calc(var(--_grid---gutter-small) * -1);
}

.grid_wrapper[data-grid_gutter="small"] .component_grid-column {
  padding: var(--_grid---gutter-small);
}

.grid_wrapper[data-grid_gutter="medium"] {
  margin: calc(var(--_grid---gutter-medium) * -1);
}

.grid_wrapper[data-grid_gutter="medium"] .component_grid-column {
  padding: var(--_grid---gutter-medium);
}

.grid_wrapper[data-grid_gutter="large"] {
  margin: calc(var(--_grid---gutter-large) * -1);
}

.grid_wrapper[data-grid_gutter="large"] .component_grid-column {
  padding: var(--_grid---gutter-large);
}

.grid_wrapper[data-grid_gutter="xlarge"] {
  margin: calc(var(--_grid---gutter-xlarge) * -1);
}

.grid_wrapper[data-grid_gutter="xlarge"] .component_grid-column {
  padding: var(--_grid---gutter-xlarge);
}

.component_grid-column[data-column="1"] {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.component_grid-column[data-column="2"] {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.component_grid-column[data-column="3"] {
  flex: 0 0 auto;
  width: 25%;
}

.component_grid-column[data-column="4"] {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.component_grid-column[data-column="5"] {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.component_grid-column[data-column="6"] {
  flex: 0 0 auto;
  width: 50%;
}

.component_grid-column[data-column="7"] {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.component_grid-column[data-column="8"] {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.component_grid-column[data-column="9"] {
  flex: 0 0 auto;
  width: 75%;
}

.component_grid-column[data-column="10"] {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.component_grid-column[data-column="11"] {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.component_grid-column[data-column="12"] {
  flex: 0 0 auto;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .component_grid-column[data-column_tablet="1"] {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .component_grid-column[data-column_tablet="2"] {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .component_grid-column[data-column_tablet="3"] {
    flex: 0 0 auto;
    width: 25%;
  }

  .component_grid-column[data-column_tablet="4"] {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .component_grid-column[data-column_tablet="5"] {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .component_grid-column[data-column_tablet="6"] {
    flex: 0 0 auto;
    width: 50%;
  }

  .component_grid-column[data-column_tablet="7"] {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .component_grid-column[data-column_tablet="8"] {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .component_grid-column[data-column_tablet="9"] {
    flex: 0 0 auto;
    width: 75%;
  }

  .component_grid-column[data-column_tablet="10"] {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .component_grid-column[data-column_tablet="11"] {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .component_grid-column[data-column_tablet="12"] {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .component_grid-column[data-column_mobile="1"] {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .component_grid-column[data-column_mobile="2"] {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .component_grid-column[data-column_mobile="3"] {
    flex: 0 0 auto;
    width: 25%;
  }

  .component_grid-column[data-column_mobile="4"] {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .component_grid-column[data-column_mobile="5"] {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .component_grid-column[data-column_mobile="6"] {
    flex: 0 0 auto;
    width: 50%;
  }

  .component_grid-column[data-column_mobile="7"] {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .component_grid-column[data-column_mobile="8"] {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .component_grid-column[data-column_mobile="9"] {
    flex: 0 0 auto;
    width: 75%;
  }

  .component_grid-column[data-column_mobile="10"] {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .component_grid-column[data-column_mobile="11"] {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .component_grid-column[data-column_mobile="12"] {
    flex: 0 0 auto;
    width: 100%;
  }
}

.component_grid-column[data-column_order="1"] {
  order: 1;
}

.component_grid-column[data-column_order="2"] {
  order: 2;
}

.component_grid-column[data-column_order="3"] {
  order: 3;
}

.component_grid-column[data-column_order="4"] {
  order: 4;
}

.component_grid-column[data-column_order="5"] {
  order: 5;
}

.component_grid-column[data-column_order="6"] {
  order: 6;
}

.component_grid-column[data-column_order="7"] {
  order: 7;
}

.component_grid-column[data-column_order="8"] {
  order: 8;
}

.component_grid-column[data-column_order="9"] {
  order: 9;
}

.component_grid-column[data-column_order="10"] {
  order: 10;
}

.component_grid-column[data-column_order="11"] {
  order: 11;
}

.component_grid-column[data-column_order="12"] {
  order: 12;
}

@media only screen and (max-width: 991px) {
  .component_grid-column[data-column_order_tablet="1"] {
    order: 1;
  }

  .component_grid-column[data-column_order_tablet="2"] {
    order: 2;
  }

  .component_grid-column[data-column_order_tablet="3"] {
    order: 3;
  }

  .component_grid-column[data-column_order_tablet="4"] {
    order: 4;
  }

  .component_grid-column[data-column_order_tablet="5"] {
    order: 5;
  }

  .component_grid-column[data-column_order_tablet="6"] {
    order: 6;
  }

  .component_grid-column[data-column_order_tablet="7"] {
    order: 7;
  }

  .component_grid-column[data-column_order_tablet="8"] {
    order: 8;
  }

  .component_grid-column[data-column_order_tablet="9"] {
    order: 9;
  }

  .component_grid-column[data-column_order_tablet="10"] {
    order: 10;
  }

  .component_grid-column[data-column_order_tablet="11"] {
    order: 11;
  }

  .component_grid-column[data-column_order_tablet="12"] {
    order: 12;
  }
}

@media only screen and (max-width: 767px) {
  .component_grid-column[data-column_order_mobile="1"] {
    order: 1;
  }

  .component_grid-column[data-column_order_mobile="2"] {
    order: 2;
  }

  .component_grid-column[data-column_order_mobile="3"] {
    order: 3;
  }

  .component_grid-column[data-column_order_mobile="4"] {
    order: 4;
  }

  .component_grid-column[data-column_order_mobile="5"] {
    order: 5;
  }

  .component_grid-column[data-column_order_mobile="6"] {
    order: 6;
  }

  .component_grid-column[data-column_order_mobile="7"] {
    order: 7;
  }

  .component_grid-column[data-column_order_mobile="8"] {
    order: 8;
  }

  .component_grid-column[data-column_order_mobile="9"] {
    order: 9;
  }

  .component_grid-column[data-column_order_mobile="10"] {
    order: 10;
  }

  .component_grid-column[data-column_order_mobile="11"] {
    order: 11;
  }

  .component_grid-column[data-column_order_mobile="12"] {
    order: 12;
  }
}

div:not(
  [data-wf--font-setter--font="inherit"]
) > [class*="font-setter"][class*="content-slot"] * {
  font-family: inherit;
}

div:not(
  [data-wf--text-weight-setter--weight="inherit"]
) > [class*="text-weight-setter"][class*="content-slot"] * {
  font-weight: inherit;
}

.initial_text::first-letter {
  font-size: inherit;
}

.vertical-tab_wrapper::before,
.vertical-tab_wrapper::after {
  display: none;
}

/* WEBFLOW DESIGNER ONLY */
html.wf-design-mode .masonry_item {
  position: static;
}
/* WEBFLOW DESIGNER ONLY */
