html.wf-design-mode .masonry_item {
  position: static;
}

.component_initial div::first-letter {
  font-size: initial;
}

.vertical-tab_wrapper:before,
.vertical-tab_wrapper:after {
  display: none;
}

.state-dropdown_toggle.w--open .state-dropdown_icon {
  transform: rotate(180deg);
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-color--background-secondary, #2d62ff);
  border-radius: 0.5rem;
  transition: background-color 0.25s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-color--background-alternate, #000);

  box-shadow: inset 0 0 1rem var(
    --background-color--background-secondary,
    #2d62ff
  );
}

::-webkit-scrollbar-track {
  background-color: var(--background-color--background-accent, #d9e5ff);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem var(--background-color--background-dark, #222);
}

.page-wrapper[data-theme="light"] {
  --background-color--background-primary: var(
    --base-color-misc-neutral--white,
    #fff
  );

  --text-color--text-primary: var(--base-color-misc-neutral--black, #000);
}

.page-wrapper[data-theme="dark"] {
  --background-color--background-primary: var(
    --base-color-misc-neutral--neutral-800,
    #111
  );

  --text-color--text-primary: var(--base-color-misc-neutral--white, #fff);
}
